/* Propriedade aplicável em toda página */
* {
	
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Configurações Gerais para parte do Body/Corpo */
body {
	margin: 3px;
	background-color: #E4E6D9;
	display: flex;
	flex: 1 1 100vw;
	flex-wrap: wrap;
}


header,
nav,
main,
aside {
	margin: 3px;
	background: #8AA98A;
	display: flex;
}

header {
	flex: 1 1 100vw;
	display: flex;
	justify-content: center;
}

header #logo {
	background: #8AA98A;
	color: white;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	flex: 0 1 200px;
	justify-content: center;
	align-items: center;
}

.logo-img{
	padding: 5px;
	width: 5px;
	width: 204px;
	height: 305 px;
}

#openMenu,
#closeMenu {
	padding: 0px 5px 0px 5px;
	background: none;
	display: none;
	font-size: 30px;
	font-weight: bold;
	border: none;
	cursor: pointer;

}

nav {
	flex: 1 1 100%;
	justify-content: center;
	align-items: center;
}

nav a {
	margin: 0 3%;
	font-size: 15pt;
}

main {
	flex: 20 1 500px;
}

aside {
	flex: 1 1 200px;
}

footer {
	background-color: #253529;
	flex: 1 1 100vw;
	flex-direction: column;
	margin-top: 100%;
	
}


.Container-footer {
	width: 100%;
	padding: 70px 30px 20px;

}

.Icons {
	display: flex;
	justify-content: center;
}

.Icons a {
	padding: 10px;
	margin: 10px;
	background-color: white;
	text-decoration: none;
	border-radius: 50%;
}

.Icons a i {
	font-size: 2em;
	color: #253529;
	opacity: 0, 9;
}

/* Efeitos ao Passar o Mouse */
.Icons a:hover {
	background-color: #253529;
	transition: 0.5s;
}

.Icons a:hover i {
	color: white;
	transition: 0.5s;
}

.Nav-footer {
	margin: 5px 0;
}

.Nav-footer ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.Nav-footer ul li a {
	margin: 20px;
	color: white;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;

}

.Nav-footer ul li a:hover {
	opacity: 1;
}

.Bottom-footer {
	padding: 20px;
	background-color: #253529;
	text-align: center;
}

.Bottom-footer p {
	color: white;
}

.designer-criador {
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	margin: 0px 5px;
}


a {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 717px) {

	#openMenu,
	#closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}


	.logo-img{
		width: 120px;
		height: 75px;
	}


	nav {
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.8);
		position: fixed;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	nav a {
		margin: 3%;
	}

	.Nav-footer ul {
		flex-direction: column;
	}

	.Nav-footer ul li {
		width: 100%;
		text-align: center;
		margin: 10px;
	}

	.Icons a {
		padding: 8px;
		margin: 4px;
	}
}